<footer class="bg-dark text-light pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About RechargeBuddy</h5>
          <p>Your go-to platform for fast, easy, and secure mobile recharges.</p>
        </div>
        <div class="col-md-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Home</a></li>
            <li><a href="#features" class="text-light">Features</a></li>
            <li><a href="#offers" class="text-light">Offers</a></li>
            <li><a href="#contact" class="text-light">Contact</a></li>
            <li><a href="#" class="text-light">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-envelope"></i> info.rechargebuddy.com</li>
            <li><i class="fas fa-phone"></i> +123-456-7890</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <a href="#" class="text-light"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="text-light ml-3"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-light ml-3"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-light ml-3"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
      </div>
      <hr>
      <div class="text-center pb-3">
        &copy; 2024 RechargeBuddy. All Rights Reserved.
      </div>
    </div>
  </footer>
  